:root {
    --primary: #1a1aff;
    --warning: #ffd028;
    --danger: #eb3f27;
    --success: #75fa83;
    --white: #cccccc;


}

.btn {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn:hover {
    background: #0080ff;
}

.btn--primary--solid {
    background-color: var(--primary);
    color: var(--white);
    border: none;
    outline: none;
}

.btn--medium {
    padding: 10px 20px;
    font-size: 18px;
}